# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  sanity_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.3.0

      - name: Install
        run: npm install    
      - run: npm run test:sanity
      # - run: npm i -g allure-commandline
      # - run: npm run generate:report
      # - run: npm run generate:cucumberreport

      - name: Test Reports
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: cucumber-report-1
          path: reporter/json
  smoke_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.3.0
          
      - name: Install and Run Test
        run: |
          npm install  
          npm run test:smoke  
          # npm i -g allure-commandline
          # npm run generate:report

      - name: Test Reports
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: cucumber-report-2
          path: reporter/json

  final_reports:
    if: always()
    needs: [smoke_test, sanity_test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.3.0

      - name: Download Artifact-1
        uses: actions/download-artifact@master
        with:
          name: cucumber-report-1
          path: ./ 
      - name: Download Artifact-2
        uses: actions/download-artifact@master
        with:
          name: cucumber-report-2
          path: ./        
          
          
      - name: Install
        run: npm install    
      # - run: npm run test:sanity
      # - run: npm i -g allure-commandline
      # - run: npm run generate:report
      - run: |
          mkdir reporter/json
          ls -lrt 
          cp -v *.json ./reporter/json 
      - run: npm run generate:cucumberreport

      - name: Test Reports
        uses: actions/upload-artifact@v2
        with:
          name: final-report
          path: reporter        