# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.3.0

      - name: Install
        run: npm install    
      - run: npm run test
      - run: npm i -g allure-commandline
      - run: npm run generate:report

      - name: Test Reports
        uses: actions/upload-artifact@v2
        with:
          name: html-report
          path: allure-report
  test2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.3.0
          
      - name: Install and Run Test
        run: |
          npm install  
          npm run test:sanity  
          npm i -g allure-commandline
          npm run generate:report

      - name: Test Reports
        uses: actions/upload-artifact@v2
        with:
          name: html-report2
          path: allure-report

  test3:
    needs: [test1, test2]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16.3.0
          
      - name: Install
        run: npm install    
      - run: npm run test:sanity
      - run: npm i -g allure-commandline
      - run: npm run generate:report

      - name: Test Reports
        uses: actions/upload-artifact@v2
        with:
          name: html-report3
          path: allure-report        